#overlayConnecting {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;

    background-color: #EEEEEE;
    z-index: 100;
}

p.header-text {
    font-family: Verdana, sans-serif;
    font-size: 1.4em;
    margin-bottom: 2em;
}

table.formTable {
    border-collapse: collapse;
    border: none;
}

table.formTable tr td {
    padding: 3px 8px;
}

input.inp-medium {
    width: 300px;
}

input.inp-large {
    width: 500px;
}